* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #0a0e27;
  color: #e8e8e8;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}
